* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.board {
  width: 360px;
  height: 360px;
  background-color: #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.fields {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.fieldButton {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  border-radius: 20px;
  background-color: #127369;
  border-width: 0;
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
  color: white;
  font-size: 50px;
}

.fieldButton:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
